@model IEnumerable<signInUserModel>

<h3> Dodane przedmioty </h3>

<table class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @item.Login
                </td>
                <td>
                    <a href="/user/details/@item._id"> Szczegóły </a>
                    <a href="/user/edit/@item._id"> Edytuj </a>
                    <a href="/user/delete/@item._id"> Usuń </a>
                </td>
            </tr>
        </tbody>
    }
</table>

<div class="col-sm-12 col-md-12 text-right">
    <a class="bg-success mr-2 py-1 px-2 text-light" href="/users/create"> Dodaj </a>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="/js/table.js"></script>