@model TeacherModel

<h4> Dodaj nauczyciele </h4>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Teachers" asp-action="Edit" method="post">
    <input type="hidden" asp-for="_id" />
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#personalData"> Dane osobowe </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#PlaceOfResidence"> Miejsce zamieszkania </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#domicile"> Miejsce zameldowania </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#studies"> Ukończone studia </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subjects"> Uczone przedmioty </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#files"> Pliki </a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="personalData">
            <fieldset>
                <legend> Dane osobowe </legend>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <label asp-for="SecondName"> </label>
                        <input asp-for="SecondName" class="form-control" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label asp-for="LastName"> </label>
                        <input type="text" asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="DateOfBirth"> </label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Pesel"> </label>
                        <input asp-for="Pesel" class="form-control" />
                        <span asp-validation-for="Pesel" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Email"> </label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Phone"> </label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="PlaceOfResidence">
            <fieldset id="PlaceOfResidence" role="tabpanel" aria-labelledby="nav-profile-tab">
                <legend> Miejsce zamieszkania </legend>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="PlaceOfResidence.town"> </label>
                        <input asp-for="PlaceOfResidence.town" class="form-control" />
                        <span asp-validation-for="PlaceOfResidence.town" class="text-danger"></span>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label asp-for="PlaceOfResidence.zipCode"> </label>
                        <input asp-for="PlaceOfResidence.zipCode" class="form-control" />
                        <span asp-validation-for="PlaceOfResidence.zipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="PlaceOfResidence.street"> </label>
                        <input asp-for="PlaceOfResidence.street" class="form-control" />
                        <span asp-validation-for="PlaceOfResidence.street" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="Domicile">
            <fieldset>
                <legend> Miejsce zameldowania </legend>
                <div class="row my-1">
                    <input type="button" value="Taki sam jak zamieszkania" id="copyAddress" class="btn btn-primary d-block ml-auto" />
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Domicile.town"> </label>
                        <input asp-for="Domicile.town" class="form-control" />
                        <span asp-validation-for="Domicile.town" class="text-danger"></span>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Domicile.zipCode"> </label>
                        <input asp-for="Domicile.zipCode" class="form-control" />
                        <span asp-validation-for="Domicile.zipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="Domicile.street"> </label>
                        <input asp-for="Domicile.street" class="form-control" />
                        <span asp-validation-for="Domicile.street" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="studies">
            <fieldset>
                <legend> Ukończone studia </legend>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="Studies[0].universityName"></label>
                        <input asp-for="Studies[0].universityName" class="form-control" />
                        <span asp-validation-for="Studies[0].universityName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="Studies[0].fieldOfStudy"></label>
                        <input asp-for="Studies[0].fieldOfStudy" class="form-control" />
                        <span asp-validation-for="Studies[0].fieldOfStudy" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Studies[0].yearOfGraduation"></label>
                        <input asp-for="Studies[0].yearOfGraduation" class="form-control" />
                        <span asp-validation-for="Studies[0].yearOfGraduation" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label asp-for="Studies[0].academicDegree"> </label>
                        <select asp-for="Studies[0].academicDegree" class="form-control">
                            <option> Wybierz </option>
                            <option value="1"> Studia I stopnia </option>
                            <option value="2"> Studia II stopnia </option>
                            <option value="3"> Studia III stopnia </option>
                        </select>
                        <span asp-validation-for="Studies[0].academicDegree" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="tab-pane fade" id="subjects">
            <fieldset>
                <legend> Uczone przedmioty </legend>
                <div id="subjects"></div>
            </fieldset>
        </div>
        <div id="files" class="tab-pane fade">
            <fieldset>
            </fieldset>
        </div>

        <div class="row my-2">
            <input type="submit" value="Zapisz" class="btn btn-primary d-block mx-auto" />
        </div>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/js/inputmask/jquery.mask.min.js"></script>
<script src="/js/inputmask/inputMask.js"></script>

<script src="/lib/datepicker/pl.js"></script>
<script src="/lib/datepicker/datePicker.js"></script>
<script src="/js/Students/copyAddress.js"></script>
<script src="/js/Teachers/getCheckedSubjects.js"></script>